@model GroupVM
@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}

@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
    @Styles.Render("~/Assets/Backend/Editor.MD/Style")
}

@section crumbs{
    @Html.Raw(ViewBag.HaviorInfo.Crumbs)
}

@section beginForm{@{ Html.BeginForm("Update", "Group", FormMethod.Post, new { @class = "monk-form" });}}

<div class="monk-form-item">
    <label for="ParentID" class="monk-form-label">上级会员组</label>
    <div class="monk-form-wrap monk-form-select-wrap">
        <span class="monk-iconfont border-right icon-monk-input"></span>
        <input type="text" class="monk-form-input middle" placeholder="请输入或选择..." @(Html.Raw(Model.GroupID == Guid.Parse("11111111-1111-1111-1111-111111111111") ? " disabled='disabled' " : "")) />
        <span class="monk-iconfont icon-monk-required"></span>
        <span class="monk-iconfont monk-select-arrow icon-monk-arrowdown border-left"></span>
    </div>
    <div class="monk-form-select monk-none">
        <select class="monk-select" name="ParentID" datatype="*" nullmsg="请选择上级会员组" errormsg="请选择上级会员组" @(Html.Raw(Model.GroupID == Guid.Parse("11111111-1111-1111-1111-111111111111") ? " ignore='ignore' " : ""))>
            <option value="">请输入或选择...</option>
            @Html.Raw(ViewData["GroupList"])
        </select>
    </div>
    <div class="monk-form-tip">选择将该会员组添加到指定会员组下面</div>
</div>
<div class="monk-form-item">
    <label for="Name" class="monk-form-label">会员组名称</label>
    <div class="monk-form-wrap">
        <span class="monk-iconfont border-right icon-monk-input"></span>
        @Html.TextBoxFor(u => u.Name,
        new
        {
            @class = "monk-form-input normal",
            placeholder = "会员组名称",
            datatype = "*1-16",
            errormsg = "会员组名称由1-16位英文字母、数字或符号组成",
            nullmsg = "请输入会员组名称"
        })
        <span class="monk-iconfont icon-monk-required"></span>
        <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input"></span>
    </div>
    <div class="monk-form-tip">通常会员组名称不宜过长，2-6个字最为恰当</div>
</div>
<div class="monk-form-item">
    <label for="Remark" class="monk-form-label">会员组描述</label>
    <div class="monk-form-wrap">
        <span class="monk-iconfont border-right icon-monk-input textarea-icon"></span>
        @Html.TextAreaFor(u => u.Remark,
        new
        {
            @class = "monk-form-textarea normal",
            placeholder = "会员组描述",
            datatype = "*1-100",
            ignore = "ignore",
            errormsg = "会员组描述由1-100位英文字母、数字或符号组成",
            nullmsg = "请输入会员组描述"
        })
        <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input textarea-icon"></span>
    </div>
    <div class="monk-form-tip">简单一句话，描述一下该会员组吧。</div>
</div>
<div class="monk-form-item">
    <label for="Enable" class="monk-form-label">开放状态</label>
    <div class="monk-form-switch-list">
        @Html.CheckBoxFor(u => u.Enable,
       new
       {
           @class = "monk-switch",
           text = "开放"
       })
    </div>
    <div class="monk-form-tip">设置该会员组是否启用</div>
</div>

@section operate{
    @Html.HiddenFor(u => u.GroupID)
    @Html.Raw(ViewBag.HaviorInfo.FormButtons)
}

@section endForm{@{ Html.EndForm();}}

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
    <script type="text/javascript">
        $(function () {
            backend.validform(function (data) {
                window.location.href = "@Url.Action("Detail","Group",new { id=Model.GroupID})";
            });
        });
    </script>
}
