@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}

@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
}


@section crumbs{
    @Html.Raw(ViewBag.HaviorInfo.Crumbs)
}


@section buttons{
    @Html.Raw(ViewBag.HaviorInfo.SelectButtons)
}

<div class="monk-table">
    <table>
        <thead>
            <tr>
                <th align="center" class="monk-table-status">
                    选择
                </th>
                <th align="left" width="10%">
                    名称
                </th>
                <th align="left">
                    链接地址
                </th>
                <th align="left">
                    布局地址
                </th>
                <th align="left" width="10%">
                    所属栏目
                </th>
                <th align="center" class="monk-table-status">
                    方式
                </th>
                <th align="center" class="monk-table-status">
                    路由
                </th>
                <th align="center" class="monk-table-status">
                    首页
                </th>
                <th align="center" class="monk-table-status">
                    开放
                </th>
                <th align="center" class="monk-table-status">
                    默认
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</div>


@section operate{
    <div id="page" class="m-pagination"></div>
}

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
    <script type="text/html" id="tpl">
        <% for(var i=0;i < data.length;i++){ %>
        <tr>
            <td class="monk-td-radio">
                <span class="monk-iconfont icon-backend-checkbox list-radio" data-id="<%=data[i].HaviorID%>"></span>
            </td>
            <td>
                <%=data[i].Name %>
            </td>
            <td>
                <%=backend.setNull(data[i].Url,"无") %>
            </td>
            <td>
                <%=backend.setNull(data[i].Layout,"无") %>
            </td>
            <td>
                <%=data[i].ModuleName %>
            </td>
            <td class="monk-table-status">
                <label <%=data[i].HttpMethod=="POST"?" class='tipcolor' ":"" %>><%=data[i].HttpMethod %></label>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(data[i].Route) %>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(data[i].Index) %>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(data[i].Enable) %>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(data[i].Default) %>
            </td>
        </tr>
        <% } %>
    </script>
    <script type="text/javascript">
        $(function () {
            var render= monk.tppl(document.getElementById("tpl").innerHTML);
            backend.pagination("@Url.Action("List","Havior")",@ViewBag.SysSetInfo.PageSize,{},function(data){
                var html=  render(data);
                $(".monk-table table tbody").html(html);
            });
        });
    </script>
}
