@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}

@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
}

@section crumbs{
    @Html.Raw(ViewBag.HaviorInfo.Crumbs)
}

@section buttons{
    @Html.Raw(ViewBag.HaviorInfo.SelectButtons)
}

<div class="monk-table" id="top-table">
</div>

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
    @Scripts.Render("~/Assets/Backend/Linq/Script")
    <script type="text/html" id="tpl">
        <table>
            <thead>
                <tr>
                    <th align="center">
                        <input type="checkbox" class="p-checkbox-module" style="vertical-align:middle; margin-right:3px;position:relative;top:-1px;" /><label><%=obj.Name %></label><span class="module-link">[ <%=backend.setNull(obj.Url,"无") %> ]</span>
                    </th>
                </tr>
            </thead>
        </table>
        <% if(haviors&&haviors.length>0){ %>
        <table class="monk-table">
            <thead>
                <tr style="background:none;">
                    <th align="center">
                        行为
                    </th>
                    <th align="center">
                        按钮
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < haviors.length;i++){ %>
                <tr>
                    <td style="text-align:center;" width="50%"><input type="checkbox" class="p-checkbox-havior" style="vertical-align:middle; margin-right:3px;position:relative;top:-1px;" /><label><%=haviors[i].Name %></label><span class="havior-link">[ <%=haviors[i].Url %>，<%=haviors[i].HttpMethod %> ]</span></td>
                    <td style="text-align:center;" width="50%">
                        <% if(buttons&&buttons.length>0){ %>
                        <% var _buttons=Enumerable.from(buttons).where(function (b) { return b.HaviorID == haviors[i].HaviorID; }).orderBy(function(b){return b.Sort;}).toArray(); %>
                        <% if(_buttons&&_buttons.length>0){ %>
                        <% for(var n=0; n < _buttons.length;n++){ %>
                        <input type="checkbox" class="p-checkbox-button" style="vertical-align:middle; margin-right:3px;position:relative;top:-1px;" /><label style="margin-right:10px;"><%=_buttons[n].Name %></label>
                        <% } %>
                        <% } %>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </script>
    <script type="text/javascript">
        // 递归生成树
        var render = monk.tppl(document.getElementById("tpl").innerHTML);
        function getModuleTreeHtml(data) {
            var treeHtml = "";
            function core(parentId, level) {
                var queryResult = Enumerable.from(data.modules).where(function (x) { return x.ParentID == parentId; }).orderBy(function (x) { return x.Sort; }).toArray();
                if (queryResult.length > 0) {
                    queryResult.forEach(function (x) {
                        var merge = {
                            obj: x,
                            haviors: Enumerable.from(data.haviors).where(function (h) { return h.ModuleID == x.ModuleID; }).toArray(),
                            buttons: data.buttons
                        }
                        treeHtml += render(merge);
                        core(x.ModuleID, level);
                    });
                }
                level = 0;
            }
            core("00000000-0000-0000-0000-000000000000", 0);
            return treeHtml;
        }

        $(function () {
            backend.get("@Url.Action("GroupPermission", "Permission")", {}, function (data) {
                $("#top-table").html(getModuleTreeHtml(data.data));
            });
        });
    </script>
}