@model ErrorLogVM
@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}

@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
}

@section crumbs{
    @Html.Raw(ViewBag.HaviorInfo.Crumbs)
}

<div class="monk-form-item">
    <label for="" class="monk-form-label">记录时间</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @DataToHtmlHelper.NullHtml(Model.LogTime)
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">会员ID</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @DataToHtmlHelper.NullHtml(Model.LogMemberID)
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">会员账号</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @DataToHtmlHelper.NullHtml(Model.Account)
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">应用程序</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @Model.Source
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常地址</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @Model.ErrorUrl
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常堆栈信息</label>
    <div class="monk-form-wrap monk-form-code-wrap monk-full">
        <pre class="monk-code" data-language="TEXT">@Model.Message</pre>
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常堆栈信息</label>
    <div class="monk-form-wrap monk-form-code-wrap monk-full">
        <pre class="monk-code" data-language="C#">@Model.TargetSite</pre>
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常编码数字</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @Model.HResult
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常堆栈信息</label>
    <div class="monk-form-wrap monk-form-code-wrap monk-full">
        <pre class="monk-code" data-language="TEXT">@Model.StackTrace</pre>
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">异常帮助文档</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @DataToHtmlHelper.NullHtml(Model.HelpLink)
    </div>
</div>

<div class="monk-form-item">
    <label for="" class="monk-form-label">查看状态</label>
    <div class="monk-form-wrap monk-form-detail-wrap monk-full">
        @Html.Raw(DataToHtmlHelper.StatusHtml(Model.View))
    </div>
</div>

@section operate{
    @Html.HiddenFor(u => u.LogID)
    @Html.Raw(ViewBag.HaviorInfo.FormButtons)
}

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
}