@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}

@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
}

@section crumbs{
    @Html.Raw(ViewBag.HaviorInfo.Crumbs)
}

@section buttons{
    <span class="list-btn" onclick="backend.checkall(this);"><i class="monk-iconfont icon-backend-quanxuan"></i><label>全选</label></span>
    <span class="list-btn" onclick="detail(this);"><i class="monk-iconfont icon-backend-details"></i><label>查看</label></span>
    <span class="list-btn" onclick="deletes(this);"><i class="monk-iconfont icon-backend-delete"></i><label>删除</label></span>
    <span class="list-btn float-right search-btn" onclick="backend.openSearch()"><i class="monk-iconfont icon-backend-search-list"></i><label>搜索</label></span>
}

@section searchs{
}

<div class="monk-table">
    <table>
        <thead>
            <tr>
                <th align="center" class="monk-table-status">
                    选择
                </th>
                <th align="left" width="10%">
                    账号
                </th>
                <th align="left" width="10%">
                    应用程序
                </th>
                <th align="left">
                    异常地址
                </th>
                <th align="left">
                    简要描述
                </th>
                <th align="left" width="12%">
                    记录时间
                </th>
                <th align="center" class="monk-table-status">
                    查看
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

@section operate{
    <div id="page" class="m-pagination"></div>
}

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
    <script type="text/javascript">
        function detail(){
            var ids=backend.getCheckIds();
            if(ids.length==1){
                window.location.href="@Url.Action("Detail","ErrorLog",new { })/"+ids[0];
            }
            else{
                backend.Tip("只能选择一条数据进行操作");
            }
        }
        function deletes(){
            var ids=backend.getCheckIds();
            if(ids.length<1){
                backend.Tip("至少选择一条进行操作");
            }
            else{
                backend.confirm("您确定要执行此操作吗？",null,function(index){
                    backend.post("@Url.Action("Delete", "ErrorLog", new { })",{ids:ids.toString()},function(data){
                        $("#page").pagination('remote');
                    });
                });
            }
        }
    </script>
    <script type="text/html" id="tpl">
        <% for(var i=0;i < data.length;i++){ %>
        <tr <%=data[i].View?"":"style='font-weight:bold;' " %>>
            <td class="monk-td-radio">
                <span class="monk-iconfont icon-backend-checkbox list-radio" data-id="<%=data[i].LogID%>"></span>
            </td>
            <td class="nowrap">
                <%=data[i].Account %>
            </td>
            <td>
                <%=data[i].Source %>
            </td>
            <td>
                <%=data[i].ErrorUrl %>
            </td>
            <td>
                <%=data[i].Message %>
            </td>
            <td class="nowrap">
                <%=backend.datetimeFormat(data[i].LogTime) %>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(data[i].View) %>
            </td>
        </tr>
        <% } %>
    </script>
    <script type="text/javascript">
        $(function () {
            var render= monk.tppl(document.getElementById("tpl").innerHTML);
            backend.pagination("@Url.Action("List","ErrorLog")",@ViewBag.SysSetInfo.PageSize,{},function(data){
                var html=  render(data);
                $(".monk-table table tbody").html(html);
            });
        });
    </script>
}
