@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
    ViewBag.Keywords = ViewBag.SysSetInfo.Keywords;
    ViewBag.Description = ViewBag.SysSetInfo.Description;
    ViewBag.Copyright = ViewBag.SysSetInfo.Copyright;
}
@section head{
    @Html.Raw(ViewBag.HaviorInfo.HeadCode)
}
@section bodyAttr{ class="index-body"}
<div id="backend-container">
    <div id="backend-top">
        <a id="switch-module" title="更多模块" class="backend-top-menu border-right monk-iconfont icon-backend-module"></a>
        <a title="返回前页" class="backend-top-menu border-right monk-iconfont icon-backend-back" onclick="history.go(-1);"></a>
        <a title="刷新页面" class="backend-top-menu border-right monk-iconfont icon-backend-refresh" onclick="document.getElementById('backend-iframe').contentWindow.location.reload(true);"></a>
        <a href="/" target="_blank" title="查看网站" class="backend-top-menu border-right monk-iconfont icon-backend-website"></a>
        <a title="会员信息" class="backend-top-menu border-left monk-iconfont icon-backend-account float-right"></a>
        <a title="退出管理" class="backend-top-menu border-left monk-iconfont icon-backend-tuichu float-right" id="signout"></a>
    </div>
    <div id="backend-left">
        <div id="backend-logo">
            <a href="@ViewBag.SysSetInfo.Site" target="_blank" class="" title="@ViewBag.SysSetInfo.Name">
                <img src="@ViewBag.SysSetInfo.Logo" class="display-block" alt="系统标志" title="系统标志" onerror="this.src = '/Areas/Backend/Assets/Images/baisoft-logo.png'" />
            </a>
        </div>
        <div id="backend-left-menu">

        </div>
    </div>
    <div id="backend-right">
        <iframe frameborder="0" src="@Url.Action("Console","Default")" id="backend-iframe" name="backend-iframe"></iframe>
    </div>
</div>
<div id="backend-module">

</div>

@section foot{
    @Html.Raw(ViewBag.HaviorInfo.FootCode)
    @Scripts.Render("~/Assets/Backend/Store/Script", "~/Assets/Backend/Linq/Script", "~/Assets/Backend/Nicescroll/Script")
    <script type="text/html" id="moduleTpl">
        <% for(var i=0; i< list.length;i++) { %>
        <div class="backend-module-item" data-moduleid="<%=list[i].ModuleID %>">
            <a title="<%=list[i].Remark %>" <%=(list[i].Url?" href='"+list[i].Url+"' ":"") %>>
                <span class="monk-iconfont <%=list[i].Iconfont %>"></span>
                <label><%=list[i].Name %></label>
            </a>
        </div>
        <% } %>
    </script>
    <script type="text/javascript">
        // 禁止iframe中打开
        if (self != top) { top.location = self.location; }

        // 判断栏目下面是否有子栏目
        function hasChildren(data, moduleId) {
            var queryResult = Enumerable.from(data).where(function (x) { return x.ParentID == moduleId; }).toArray();
            return queryResult.length > 0;
        }

        // 定义渲染模块栏目方法
        function renderAction(data, parentId) {
            var actionTree = "";

            function core(parentId, level) {
                var queryResult = Enumerable.from(data).where(function (x) { return x.ParentID == parentId; }).orderBy(function (x) { return x.Sort; }).toArray();
                if (queryResult.length > 0) {
                    level++;
                    var spaceHtml = "";
                    for (var i = 0; i < level - 1; i++) {
                        spaceHtml += '<span class="space"></span>';
                    }

                    actionTree += '<ul>';
                    queryResult.forEach(function (x) {
                        var hasChild = hasChildren(data, x.ModuleID);
                        actionTree += '<li>';
                        actionTree += '<div data-url="' + x.Url + '" target="backend-iframe" class="backend-menu-action" data-actionid="' + x.ModuleID + '" title="' + x.Remark + '">';
                        actionTree += spaceHtml + '<span class="monk-iconfont ' + (hasChild ? ' icon-backend-folder-close ' : ' icon-backend-file ') + '  action-icon"></span><label>' + x.Name + '</label>';
                        if (hasChild) {
                            actionTree += '<span class="monk-iconfont icon-arrow icon-monk-arrowdown float-right"></span>';
                        }
                        actionTree += '</div>';
                        core(x.ModuleID, level);
                        actionTree += '</li>';
                    });
                    actionTree += '</ul>';
                }
                level = 0;
            }
            core(parentId, 0);
            return actionTree;
        }


        // 模块渲染对象
        var moduleRender = monk.tppl(document.getElementById("moduleTpl").innerHTML);
        // 模块客户端缓存Key
        var moduleIdKey = "@ViewBag.MemberInfo.Account" + "_moduleId";
        // 功能客户端缓存的key
        var actionidKey = "@ViewBag.MemberInfo.Account" + "_actionId";
        // 定义渲染模块应用方法
        function renderModule(data) {
            var queryResult = Enumerable.from(data).where(function (x) { return x.ParentID == "11111111-1111-1111-1111-111111111111"; }).orderBy(function (x) { return x.Sort; }).toArray();
            $("#backend-module").html(moduleRender({ list: queryResult }));

            // 生成功能菜单
            var actionHtml = "";
            queryResult.forEach(function (x) {
                actionHtml += '<div ' + (x.TagAttr ? x.TagAttr : "  ") + ' class="backend-menu-item display-none" data-moduleid="' + x.ModuleID + '">';
                actionHtml += '<h2 class="backend-menu-title">' + x.Name + '</h2>';
                actionHtml += '<div class="backe-menu-list">';
                // 内层递归循环
                actionHtml += renderAction(data, x.ModuleID);
                actionHtml += '</div>';
                actionHtml += '</div>';
            });
            $("#backend-left-menu").html(actionHtml);

            // 美化滚动条
            var nicescrolls = backend.nicescroll($("#backend-module,.backe-menu-list"));
            if (store.get(actionidKey)) {
                $(".backend-menu-action[data-actionid='" + store.get(actionidKey) + "']").trigger("click", "auto");
            }
            // 读取缓存，恢复上一次状态
            if (store.get(moduleIdKey)) {
                $(".backend-module-item[data-moduleid='" + store.get(moduleIdKey) + "']").click();
            }
            else {
                $(".backend-module-item").eq(0).trigger("click");
            }
        }

        $(function () {
            backend.successTip("您好，@ViewBag.MemberInfo.Account");

            backend.get("@Url.Action("Modules","Default")", {}, function (data) {
                renderModule(data.data);
            });

            // 点击模块处理
            $("#backend-module").on("click", ".backend-module-item", function () {
                var lastModuleid = store.get(moduleIdKey);
                if (lastModuleid) {
                    $(".backend-menu-item[data-moduleid='" + lastModuleid + "']").addClass("display-none");
                    $(".backend-module-item[data-moduleid='" + lastModuleid + "']").children("a").removeClass("selected");
                }
                var that = $(this);
                var moduleid = that.attr("data-moduleid");
                $(".backend-menu-item[data-moduleid='" + moduleid + "']").removeClass("display-none");
                that.children("a").addClass("selected");
                store.set(moduleIdKey, moduleid);
            });

            // ################模块显示隐藏切换
            var $container = $("#backend-container");
            var $module = $("#backend-module");
            var moduleWidth = $module.outerWidth(true);
            var speed = 300;
            var moduleStatusKey = "@ViewBag.MemberInfo.Account" + "_moduleStatus";
            if (store.get(moduleStatusKey) == "open") {
                $container.animate({
                    left: moduleWidth + "px"
                }, speed);
                $module.animate({
                    left: 0
                }, speed);
            }
            $("#switch-module").on({
                click: function () {
                    if (!$module.is(":animated") && !$container.is(":animated")) {
                        if (store.get(moduleStatusKey) == "open") {
                            $container.animate({
                                left: 0
                            }, speed);
                            $module.animate({
                                left: -moduleWidth + "px"
                            }, speed);
                            store.set(moduleStatusKey, "close");
                        }
                        else {
                            $container.animate({
                                left: moduleWidth + "px"
                            }, speed);
                            $module.animate({
                                left: 0
                            }, speed);
                            store.set(moduleStatusKey, "open");
                        }
                    }
                }
            });
            // 模块显示隐藏切换################


            // 功能菜单处理

            $("#backend-left").on("click", ".backend-menu-action", function (e, data) {
                var lastActionid = store.get(actionidKey);
                if (lastActionid) {
                    $(".backend-menu-action[data-actionid='" + lastActionid + "']").removeClass("selected");
                }
                var that = $(this);
                var ul = that.siblings("ul");
                var url = that.attr("data-url");
                var actionid = that.attr("data-actionid");
                var childrenKey = store.get(actionid + "_actionidChildrenKey");
                var target = that.attr("target");
                that.addClass("selected");
                if (url && url != "#" && url != "null" && url != "NULL") {
                    if (target == "backend-iframe") {
                        document.getElementById('backend-iframe').contentWindow.location.href = url;
                    }
                    else {
                        window.location.href = url;
                    }
                }
                if (data == "auto") {
                    that.parents("ul").each(function () {
                        var _menuItem = $(this).siblings(".backend-menu-action");
                        _menuItem.children(".icon-arrow").removeClass("icon-monk-arrowdown").addClass("icon-monk-arrowup");
                        _menuItem.children(".action-icon").removeClass("icon-backend-folder-close").addClass("icon-backend-folder-open");
                        $(this).show();
                    });
                }
                if (ul.length > 0) {
                    if (data != "auto") {
                        if (ul.is(":visible")) {
                            that.children(".icon-arrow").removeClass("icon-monk-arrowup").addClass("icon-monk-arrowdown");
                            that.children(".action-icon").removeClass("icon-backend-folder-open").addClass("icon-backend-folder-close");
                            ul.hide();
                            store.set(actionid + "_actionidChildrenKey", "close");
                        }
                        else {
                            that.children(".icon-arrow").removeClass("icon-monk-arrowdown").addClass("icon-monk-arrowup");
                            that.children(".action-icon").removeClass("icon-backend-folder-close").addClass("icon-backend-folder-open");
                            ul.show();
                            store.set(actionid + "_actionidChildrenKey", "open");
                        }
                    }
                    else {
                        if (childrenKey == "open") {
                            that.parent("ul").show();
                            that.children(".icon-arrow").removeClass("icon-monk-arrowdown").addClass("icon-monk-arrowup");
                            that.children(".action-icon").removeClass("icon-backend-folder-close").addClass("icon-backend-folder-open");
                            ul.show();
                        }
                        else {
                            that.children(".icon-arrow").removeClass("icon-monk-arrowup").addClass("icon-monk-arrowdown");
                            that.children(".action-icon").removeClass("icon-backend-folder-open").addClass("icon-backend-folder-close");
                            ul.hide();
                        }
                    }
                }
                store.set(actionidKey, actionid);
            });


            // 退出系统
            $("#signout").on({
                click: function () {
                    backend.loadTip("系统正在注销，请稍后...")
                    $.post("@Url.Action("Signout", "Default")", {}, function (data) {
                        backend.ajaxResultHandle(data, function (data) {
                            if (data.status == "n") {
                                backend.errorTip(data.info);
                            }
                            else if (data.status == "y") {
                                backend.successTip(data.info, { time: 1000 }, function () {
                                    window.location.href = '@Url.Action("Signin", "Default")';
                                });
                            }
                        });
                    });
                }
            });
        });
    </script>
}