@model SigninModelVM
@{
    ViewBag.Title = ViewBag.HaviorInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
}
@section head{
    @ViewBag.HaviorInfo.HeadCode
}
<div class="signin-container">
    <div class="signin-logo">
        <a href="http://www.baisoft.org" target="_blank" class="" title="百签软件有限公司">
            <img src="~/Areas/Backend/Assets/Images/baisoft-logo.png" class="display-block" alt="百签软件有限公司" title="百签软件有限公司" />
        </a>
    </div>
    @using (Html.BeginForm("Signin", "Default", FormMethod.Post, new { @class = "monk-form" }))
    {
        <div class="monk-form-item">
            <label class="monk-form-label" for="Account">会员账号</label>
            <div class="monk-form-wrap">
                <span class="monk-iconfont border-right icon-backend-account"></span>
                @Html.TextBoxFor(u => u.Account,
               new
               {
                   @class = "monk-form-input",
                   placeholder = "会员账号",
                   datatype = "s3-16",
                   errormsg = "账号由3-16位英文字母，数字或中文组成",
                   nullmsg = "请输入会员账号"
               })
                <span class="monk-iconfont icon-monk-required"></span>
                <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input"></span>
            </div>
            <div class="monk-form-tip">账号由3-16位英文字母，数字或中文组成</div>
        </div>
        <div class="monk-form-item">
            <label class="monk-form-label" for="Password">会员密码</label>
            <div class="monk-form-wrap">
                <span class="monk-iconfont border-right icon-backend-lock"></span>
                @Html.PasswordFor(u => u.Password,
               new
               {
                   @class = "monk-form-input",
                   placeholder = "会员密码",
                   datatype = "*6-20",
                   errormsg = "密码由6-20位英文字母、数字或符号组成",
                   nullmsg = "请输入会员密码"
               })
                <span class="monk-iconfont icon-monk-required"></span>
                <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input"></span>
            </div>
            <div class="monk-form-tip">密码由6-20位英文字母、数字或符号组成</div>
        </div>
        <input type="submit" class="monk-input-button turquoise monk-form-submit float-left" value="验证登入">
        <input type="reset" class="monk-input-button amethyst monk-form-reset float-right" value="重置表单">
    }
</div>

@section foot{
    @ViewBag.HaviorInfo.FootCode
    @Scripts.Render("~/Assets/Backend/Validform/Script")
    <script type="text/javascript">
        if (self != top) { top.location = self.location; }
        $(function () {
            $("#Account").focus();
            backend.validform(function (data) {
                window.location.href = "@Url.Action("Index","Default")";
            });
        });
    </script>
}