@{
    ViewBag.Title = "系统模块";
    Layout = "~/Areas/Backend/Views/Shared/_List.cshtml";
}

@section head{
    <style>
        .backend-operate { display: none; }
        .backend-content { bottom: 0; }
    </style>
}

@section crumbs{
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="系统管理">系统管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="模块管理">模块管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="系统栏目">系统栏目</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="栏目列表">栏目列表</a>
}


@section buttons{
    <span class="list-btn" onclick="backend.checkall(this);"><i class="monk-iconfont icon-backend-quanxuan"></i><label>全选</label></span>
    <span class="list-btn float-right search-btn" onclick="backend.openSearch()"><i class="monk-iconfont icon-backend-search-list"></i><label>搜索</label></span>
}

<div class="monk-table">
    <table>
        <thead>
            <tr>
                <th align="center" class="monk-table-status">
                    选择
                </th>
                <th align="center" class="monk-table-status">
                    图标
                </th>
                <th align="left">
                    名称
                </th>
                <th align="left" class="monk-table-status">
                    排序
                </th>
                <th align="center" class="monk-table-status">
                    开放
                </th>
                <th align="center" class="monk-table-status">
                    默认
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <label>根系统栏目</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <span class="space"></span><i class="monk-iconfont icon-backend-tree-line"></i><label>站点管理</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <span class="space"></span><span class="space"></span><i class="monk-iconfont icon-backend-tree-line"></i><label>站点设置</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <span class="space"></span><span class="space"></span><i class="monk-iconfont icon-backend-tree-line"></i><label>内容设置</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <span class="space"></span><span class="space"></span><span class="space"></span><i class="monk-iconfont icon-backend-tree-line"></i><label>内容分类</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    <span class="monk-iconfont icon-backend-checkbox list-radio" data-id=""></span>
                </td>
                <td class="monk-table-status">
                    <i class="monk-iconfont icon-backend-file"></i>
                </td>
                <td>
                    <span class="space"></span><i class="monk-iconfont icon-backend-tree-line"></i><label>微信管理</label><span class="module-link">[ /Backend/Module/Select ]</span>
                </td>
                <td class="monk-table-status">
                    <input type="number" class="list-textbox-sort" value="0" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
                <td class="monk-table-status">
                    @Html.Raw(DataToHtmlHelper.StatusHtml(true))
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>